
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Base - Usuarios</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/jquery-cruddy.css" rel="stylesheet">

<style>
/* For example page only. Not part of cruddy. */
body{ margin: 40px 0 200px 0}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:20%;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#main">Base</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="./">Inicio</a></li>
					<li><a href="./usuarios">Usuarios</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Config <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#listcc">Listar contas</a></li>
							<li><a href="#addcc">Adicionar conta</a></li>
							<li><a href="#config">Config sistema</a></li>
						</ul>
					</li>
					<li><a href="#sair">Sair</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>



	</nav>
<br/><br/>

<div class="container container-user">
<div class="row">
<div class="col-md-12">
<div id="modal-create-edit" class="modal fade" role="dialog">
<div class="modal-dialog">
<script id="create-edit" type="text/x-jsrender">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">
{{if id}}
Edit #{{:id}}
{{else}}
Adicionar
{{/if}}
</h4>
</div>
<div class="modal-body">
<div class="alert-control alert"></div>
<p></p>

<div class="form-group row">
	<label class="col-md-4 control-label">Usuario:</label>
	<div class="col-md-6">
		<input name="usuario" class="form-control" value="{{:attributes.usuario}}">
		<span class="help-block hide">
			<strong></strong>
		</span>
	</div>
</div>

<div class="form-group row">
	<label class="col-md-4 control-label">E-mail:</label>
	<div class="col-md-6">
		<input name="email" class="form-control" value="{{:attributes.email}}">
		<span class="help-block hide">
			<strong></strong>
		</span>
	</div>
</div>

<div class="form-group row">
	<label class="col-md-4 control-label">Senha:</label>
	<div class="col-md-6">
		<input name="senha" class="form-control" value="{{:attributes.senha}}">
		<span class="help-block hide">
			<strong></strong>
		</span>
	</div>
</div>

<div class="form-group row">
	<label class="col-md-4 control-label">Status:</label>
	<div class="col-md-6">
		<input name="status" class="form-control" value="{{:attributes.status}}">
		<span class="help-block hide">
			<strong></strong>
		</span>
	</div>
</div>


</div>
<div class="modal-footer">
<input name="id" class="hide" value="{{:id}}">
<button type="submit" class="btn btn-success">
{{if id}}
Save
{{else}}
Create
{{/if}}
</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</script>
<form action="https://cruddy.io/app/api/admin/user" class="create-edit"></form>
</div>
</div>

<div class="alert-control alert"></div>

<div class="row">
<div class="col-sm-6 hidden-xs">
<h2 style="margin:0">Usuarios</h2>
</div>
<div class="col-sm-6 col-xs-12 text-right">
<button type="button" class="btn btn-default btn-refresh"><em class="fa fa-refresh"></em></button>
<button type="button" class="btn btn-primary btn-create" data-toggle="modal" data-target="#modal-create-edit">Adicionar</button>
</div>
</div>

<hr>

<div class="panel panel-default panel-table">
<div class="panel-heading">
<div class="row">
<div class="col col-xs-7 col-md-9">
<h3 class="panel-title">&nbsp;</h3>
</div>
<div class="col col-xs-5 col-md-3 text-right">

<form class="form-inline search">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search" name="q">
<div class="input-group-btn">
<button type="submit" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="panel-body">
<table class="table table-striped table-bordered table-list" data-href="usuarios/listar">
<thead>
<th><em class="fa fa-cog"></em></th>
<th class="hidden-xs" data-col="id">ID <em class="fa fa-fw fa-sort pull-right em-sort"></th>
<th data-col="usuario">Usuario <em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
<th data-col="data">Start<em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
<th data-col="data">Update<em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
<th data-col="limite">Limite<em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
<th data-col="usado">Usado<em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
<th data-col="status">Status <em class="fa fa-fw fa-sort pull-right em-sort"></em></th>
</thead>
<tbody>
<tr><td colspan="4">Loading...</td></tr>
</tbody>
</table>

</div>
<div class="panel-footer">
<div class="row">
<div class="col col-xs-4">
<form class="form-inline">
<select name="limit" class="form-control">
<option>1
<option>10
</select>
</form>
</div>
<div class="col col-xs-8 list-pagination">
</div>
</div>
</div>
</div>

</div>
</div>
</div>



<script id="no-results" type="text/x-jsrender">
<tr>
<td colspan="5"><strong>No Results Found.</strong></td>
</tr>
</script>


<script id="row-item" type="text/x-jsrender">
<tr>
<td align="center">
<button type="button" class="btn btn-default" data-action="read" data-href="https://cruddy.io/app/api/admin/user/{{:id}}" data-toggle="modal" data-target="#modal-create-edit">
	<em class="fa fa-pencil"></em>
</button>

<button type="button" class="btn btn-danger" data-action="delete" data-href="https://cruddy.io/app/api/admin/user/{{:id}}"><em class="fa fa-trash"></em></button>
</td>

<td class="hidden-xs">{{:id}}</td>
<td>{{:usuario}}</td>
<td>{{:start}}</td>
<td>{{:update}}</td>
<td>{{:limite}}</td>
<td>{{:usado}}</td>
<td>{{:status}}</td>
</tr>
</script>

<script id="list-pagination" type="text/x-jsrender">
<ul class="pagination pull-right">
{{if links.prev}}<li><span data-href="{{:links.prev}}">&laquo;</span></li>{{/if}}
<li><span disabled>{{:meta.currentPage}} of {{:meta.total}}</span></li>
{{if links.next}}<li><span data-href="{{:links.next}}">&raquo;</span></li>{{/if}}
</ul>
</script>


<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.73/jsrender.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../js/jquery-cruddy.js"></script>

<script>
$('.container-user').cruddy({'onLog': function($this, data){console.log(data)}});
</script>
</body>
</html>


